body { margin-left:1cm;}
h2.right {text-align: right}
.center {text-align: center;}
body {background-image: url(background.jpg);width: 1800px;height: 900px;font-family: "arial",serif;}
img.left {float: left;}
p.left {text-align: left;}
p {color: brown;text-align:justify;}
a {float: left;}
ul {list-style-position:inside; }
.bigger {font-size: 150%;}
address {float: right;}

a:link {color: blue}
a:visited {color: green;}
img.image {margin: 20px,20px,20px,20px}
h1 {text-shadow: 3px 3px 3px green;font-style: italic; }
h2 {text-shadow: 3px 3px 3px gold;font-size: 20px;}
h3 {color: blue;}
li.check{
	float:left;
	padding-left:100px;
	position:relative;}
.bot{margin-bottom:30px}
.shadow{text-shadow: 2px 2px 2px green;}
#right1 {float: right; margin-right:3cm;}