body { margin-left:1cm;}
.center {text-align: center;}
body {background-image: url(background.jpg);width: 1800px;height: 900px;font-family: "arial",serif;}
p {text-align: left;}
p {color: brown;}
ul {list-style-position:inside; }
a:link {color: blue}
h1 {text-shadow: 3px 3px 3px green;font-style: italic; }
h2 {text-shadow: 3px 3px 3px gold;font-size: 20px;}
h3 {color: blue;}



